@media screen and (min-width: 768px) and (max-width: 1000px) {
  .nav>li>a[href^="https://github.com/"] {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nav>li>a[rel="prev"] {
    display: none;
  }

  .nav>li>a[rel="next"] {
    display: none;
  }
}

#main_title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

pre code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
